* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado {
    background-image: radial-gradient(circle 926px at 5.9% 50.7%, rgba(31, 223, 255, 0.56) 0.4%, rgba(255, 235, 31, 0.18) 56.4%, rgba(255, 115, 8, 0.66) 90.5%);
    width: 100%;
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icono {
    width: 100px;
    height: 140px;
}

.textenbacezado {
    text-align: center;
}
